#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.start {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
  margin-top: 30pt;
  font-size: 2em;
}
.start:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.start.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.dist {
  text-align: center;
  background-color: #242424;
}

.plane {
  text-align: center;
  background-color: #242424;
}

input {
  margin: auto;
  margin-bottom: 15pt;
}

.calculate {
  place-items: right;
}

.graph {
  width: 90%;
  height: 90%;
  min-width: 900px;
  min-height: 900px;
}


@media screen and (max-width: 375px) {
  .graph {
    width: 310px;
    height: 500px;
    margin: 0 auto;
  }
  }

@media screen and (max-width: 320px) {
    .graph {
      width: 260px;
      height: 500px;
      margin: 0 auto;
    }
  }


@media screen and (max-width: 425px) {
  .graph {
    width: 350px;
    height: 500px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 812px) {
  .graph {
    width: 700px;
    height: 450px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 896px) {
  .graph {
    width: 700px;
    height: 450px;
    margin: 0 auto;
  }
}